:root {
  --menu-active: rgb(240, 240, 255);
  --font-active: rgb(73, 69, 255);
  --font-regular: rgb(102, 102, 135);
  --menu-regular: rgb(246, 246, 249);
  --menuBar-title: rgb(102, 102, 135);
  --menuBar-subTitle: rgb(50, 50, 77);
  --active-border: rgb(73, 69, 255);
  --add-border: rgb(217, 216, 255);
}

#formpage .active_text {
  color: var(--font-active);
}
#formpage .active_text path {
  fill: var(--font-active);
}
#formpage .active_bg {
  background-color: var(--menu-active);
}
#formpage .regular {
  color: var(--font-regular);
}
#formpage .regular path {
  fill: var(--font-regular);
}
#formpage .menu_bg,
#formpage.menu_bg {
  background-color: var(--menu-regular);
}
#formpage .menuBarTitle {
  color: var(--menuBar-title);
}
#formpage .menuBarSubTitle {
  color: var(--menuBar-subTitle);
}

#formpage .activeBorder {
  border-right: 2px solid var(--active-border);
  background-color: rgb(240, 240, 255);
  font-weight: 500;
}

#formpage .activeBorder .dot {
  background-color: var(--active-border);
}
#formpage .menuBarSubTitle .dot {
  background-color: var(--menuBar-subTitle);
}
