@import '@/style/index.scss';

.s-form {
  &-wrap {
    margin-bottom: 16px;
  }

  &-item {
    flex-grow: 1;
    margin-bottom: 16px;

    &-flex {
      display: flex;
      align-items: center;

      ::v-deep {
        .ivu-tooltip-rel {
          & > div {
            margin-right: 8px;
          }
        }
      }
    }

    &-label {
      display: block;
      margin: 16px 0;
      font-size: $font-size-label;
    }

    ::v-deep {
      .s-form-item {
        margin-bottom: 0;
      }

      .s-locale-form-group {
        width: 100%;
      }

      .ivu-tooltip,
      .ivu-tooltip-rel {
        display: flex;
        align-items: center;
        width: 100%;
      }

      .ivu-btn,
      .ivu-radio-wrapper,
      .ivu-table-cell,
      .ivu-table-tip,
      textarea.ivu-input {
        font-size: $font-size-text;
      }

      .ivu-table-border:after,
      .ivu-table:before {
        border-bottom: none;
        background-color: transparent;
      }

      .ivu-table-cell {
        padding-left: 12px;
        padding-right: 12px;
      }

      .ivu-table-header {
        .ivu-table-cell {
          font-weight: $font-weight-light;
        }
      }

      .ivu-table {
        td,
        th {
          border-color: $border-color-light;
        }
      }

      .ivu-select-selection,
      .ivu-select-selected-value {
        height: 32px;
      }

      .ivu-select-placeholder,
      .ivu-select-selected-value {
        line-height: 30px !important;
        font-size: $font-size-text;
      }

      .ivu-cascader-not-found-tip {
        padding: 24px 24px;
        font-size: $font-size-text;
      }

      .ivu-cascader-label {
        font-size: $font-size-text;
      }

      .ivu-checkbox-wrapper {
        font-size: $font-size-text;
      }

      .ivu-select-input {
        font-size: $font-size-text;
      }

      .ivu-select-multiple .ivu-select-selection .ivu-select-placeholder {
        font-size: $font-size-text;
      }

      .ivu-cascader-menu {
        .ivu-cascader-menu-item {
          font-size: $font-size-text !important;
        }
      }
    }
  }
}

::v-deep {
  .ivu-select-disabled {
    .ivu-tag {
      pointer-events: none;
    }
  }
}
