.json_schema {
  margin-bottom: 56px;

  .ivu-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;

    & > .ivu-form-item {
      grid-column: span 6 / auto;
    }
  }
}

.jf-form {
  @include formRewrite;
  @include buttonRewrite;

  height: 100vh;
  overflow-y: auto;
  background-color: $command-bg;

  // 动态表单渲染页面表单项
  .ivu-form {
    & > {
      .jf-item-pidbatchselect {
        grid-column: span 12 / auto;
      }

      .jf-item-textarea {
        grid-column: span 12 / auto;
      }

      .jf-item-group {
        grid-column: span 12 / auto;

        .ivu-collapse-content-box {
          & > div {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 16px;

            & > .ivu-form-item {
              grid-column: span 6 / auto;
            }
          }
        }
      }
    }

    .ivu-date-picker {
      width: 100%;
      max-width: 300px;
    }
  }
}
