$gray-001: #f6f6f9;
$gray-002: #dcdce4;
$gray-003: #eaeaef;
$gray-004: #515a6e;
$gray-005: #9f9f9f;
$blue-001: #f0f0ff;
$blue-002: #666687;
$blue-003: rgba(50, 50, 77, 0.12);
$blue-004: #271fe0;
$blue-005: #d9d8ff;
$white-001: #ffffff;
$red-001: #d02b20;
$red-002: #f5c0b8;
$red-003: #fcecea;
$yellow-001: #fdf4dc;
$yellow-002: #d9822f;
$green-001: #2f6846;
$green-002: #eafbe7;
$green-003: #a0c5ae;
$black-001: #32324d;

$command-bg: $gray-001;
$command-bg-dark: $gray-003;
$command-bg-primary: $blue-001;
$command-bg-modal: $blue-003;
$command-bg-mask: rgba($white-001, 0.9);
$command-bg-danger: $red-003;
$command-bg-warning: $yellow-001;
$command-bg-success: $green-002;

$command-primary-color: $blue-004;
$command-success-color: $green-001;
$command-warning-color: $yellow-002;
$command-danger-color: $red-001;
$command-text-color: $black-001;
$command-subtext-color: $blue-002;

$command-border-color: $gray-002;
$command-border-color-primary: $blue-005;
$command-border-color-danger: $red-002;
$command-border-color-success: $green-003;

$command-box-shadow: rgb(33 33 52 / 10%) 0px 1px 4px;

$command-font-size-title-large: 22px;
$command-font-size-title-main: 18px;
$command-font-size-title-scd: 16px;
$command-font-size-title-sub: 14px;
$command-font-size-title-desc: 13px;

// font
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;

$font-size-text: 12px;
$font-size-label: 13px;

$line-height-title-main: 1.22;

// border
$border-radius-md: 4px;
$border-radius-lg: 6px;