#json_form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#json_form .active_text {
  color: var(--font-active);
}
#json_form .active_text path {
  fill: var(--font-active);
}
#json_form .active_bg {
  background-color: var(--menu-active);
}
#json_form .regular {
  color: var(--font-regular);
}
#json_form .regular path {
  fill: var(--font-regular);
}
#json_form .menu_bg {
  background-color: var(--menu-regular);
}
#json_form .menuBarTitle {
  color: var(--menuBar-title);
}
#json_form .menuBarSubTitle {
  color: var(--menuBar-subTitle);
}

#json_form .activeBorder {
  border-right: 2px solid var(--active-border);
  background-color: rgb(240, 240, 255);
  font-weight: 500;
}

#json_form .activeBorder .dot {
  background-color: var(--active-border);
}
#json_form .menuBarSubTitle .dot {
  background-color: var(--menuBar-subTitle);
}
